.footer {
  width: 98vw;
  height: 90px;
  text-align: center;
  color:white;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
  display: table;
}
center {
  height:100%;

}
.hidden {
  display: none;
  background-color: maroon;
  border-radius: 30px;
}
.footer:hover .hidden {
  display: block;

}
.afooter {
  display: table-cell;
  height: 90px;
  width: 150px;
  max-width:100%;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  border-right: 1px solid white;
}
.afooter:first-child{
  border-left: 1px solid white;
}
