.info {
	margin: auto;
	margin-top: 50px;
	width:60%;
	max-width: 100%;
	min-width: 300px;
    text-align: justify;
    text-justify: inter-word;
}

.info a[href] {
  text-decoration: none;
  color: maroon;
}
