<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
{% load static %}
{% load i18n %}

<!-- {{request.session.django_language}} -->
{% language request.session.django_language %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Stickies!</title>
		<link rel="stylesheet" type="text/css" href="{% static 'wall/addChangePassword.css' %}">
  </head>
  <body>
      <!--<div class="header">
				<h1>
					{% if passwordProtection %}
  					{% translate 'Change password of room ' %}{{roomName}}
					{% else %}
  					{% translate 'Add password to room ' %}{{roomName}}
					{% endif %}
				</h1>
			</div>-->
			{% include "general/header/header-simple.html" %}
			<center>
  			<div class="main">
					<p>
					{{msg}}
						<br>
						{% if errormsg %}
						<p style="color: red;">{{errormsg}}</p>
						{% endif %}
						<form action="/wall/{{roomName}}/addChangePassword/" id="addChangePasswordForm" method="POST">
							{% csrf_token %}
							{% if wrongPassword %}
							  <p style="color: red;">{% translate "Error: password didn't match" %}</p>
							{% endif %}

							{% if passwordProtection %}
						  <label for="oldpassword">{% translate "Old password: " %}</label>
   						<input type="text" id="oldpassword" name="oldpassword" maxlength=100>
	   					<br>
							{% endif %}
						  <label for="newpassword">{% translate "New password: " %}</label>
   						<input type="text" id="newpassword" name="newpassword" maxlength=100>
	   					<br>
						  <label for="newpasswordre">{% translate "Repeat password: " %}</label>
   						<input type="text" id="newpasswordrep" name="newpasswordrep" maxlength=100>
	   					<br>
							<button type="button" id="generatePassword" name="generatePassword" class="inputPassword" onclick="getGeneratedPassword(this)">{% translate "Generate password" %}</button>
							<br>
							<button type="button" class="cancel"><a href="/wall/{{roomName}}/">{%translate 'Cancel' %}</a></button>
							<input type="button" onclick="checkForm()" value="{% if passwordProtection %} {% translate 'Change password' %} {% else %} {% translate 'Add password' %} {% endif %}">
						</form>
			    </p>
			  </div>
		  </center>
		
  </body>
	<script>
		function getGeneratedPassword(e) {
      let pw;
      const http = new XMLHttpRequest();
      http.open("GET","/generatePassword/");
      http.send();
      http.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          pw = http.responseText;
          console.log(pw);
          document.getElementById("newpassword").value = pw;
          document.getElementById("newpasswordrep").value = pw;
        }
      }
    }
		function checkForm() {
		  if (document.getElementById("newpassword").value == "" && document.getElementById("newpasswordrep").value == "") {
		    if (confirm ('{% translate "You left an empty password. Are you sure, you want to leave the password empty?" %}')) {document.getElementById("addChangePasswordForm").submit();}
			
			}
			else {document.getElementById("addChangePasswordForm").submit();}
		}
	</script>

</html>

{% endlanguage %}
