<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
{% load static %}
{% load i18n %}

{% language request.session.django_language %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Stickies!</title>
		<link rel="stylesheet" type="text/css" href="{% static 'wall/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'wall/addEditContentForm.css' %}">
  </head>
  <body>
      <!--<div class="header">
				<h1> {{ strTitle }} </h1>
			</div>-->
			{% include "general/header/header-simple.html" %}
			{% if reply %}
      <center>
      <div class="note origNote">
        {{ origNoteText }}
      </div>
      </center>
			{% endif %}
			<form action="{{formLink}}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset>
              <center>
							  <div class="divName">
                  <label for="name"> {% translate 'name' %}:</label>
                  <input name="name" id="name" value={% if request.session.storeName %} {{ request.session.username }} {% else %} "anonymous" {% endif %} class="inputName" maxlength=50>
									<label for="storeName">{% translate ' Store name' %}</label>
									<input name="storeName" id="storeName" type="checkbox" {% if request.session.storeName %} checked {% endif %}>
									<img style="height: 16px;" src = {% static 'wall/images/questionmark.svg' %} alt="question mark" title="{% translate 'This will store your username and relate it to a cookie. You can revert it at any time to e.g. anonymous or any other pseudonym you like. This will overwrite the old data. No history is kept. If you give your note a username but not check the checkbox, it will revert to anonymous the next time.' %}">
                </div>
								<h3>{{subHeading}}</h3>

								{% if not reply %}
								  {% if not guestRights or guestRightsAddImg or isMod %}
  								<label for="images">{% translate "Add images" %}</label><br>
	  							<input type="file" id="images" name="images" accept="image/*" multiple>
		  						{% endif %}
								{% endif %}
								{% if not guestRights or guestRightsAddImg or isMod %}
								  {% if imgsPresent %}
								    <br>
									  <input type="checkbox" id="removeImages" name="removeImages">
 								    <label for="removeImages">{%translate "Remove existing images" %}</label>
								  {% endif %}
								{% endif %}
								<br>
								<br>
								<textarea class="inputText" name="{{textareaName}}" id="{{textareaName}}" {%if textareaPlaceholder %}placeholder="{{textareaPlaceholder}}"{%endif%} maxlength=2000>{% if textareaText %}{{textareaText}}{% endif %}</textarea>
                <br>
								<button type="button" class="cancel"><a href="/wall/{{roomName}}/">{%translate 'Cancel' %}</a></button>
								<input type="submit" value="{{buttonSubmitText}}"> <br>
              </center>
          </fieldset>
      </form>
  </body>
</html>
{% endlanguage %}
