<!DOCTYPE html>

 <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load static %}
{% load i18n %}

<!-- uncomment (replace # with % to test translations) -->
<!-- don't forget {# endlanguage # } at bottom -->

{% language request.session.django_language %}
<!-- {{ request.session.django_language }} -->
{# get_current_language as LANGUAGE_CODE #}

<html>
  <head>
    <meta charset="utf-8">
    <title>Stickies!</title>
		<link rel="stylesheet" type="text/css" href="{% static 'startapp/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startapp/menu.css' %}">
  </head>
  <body>
      <!--<div class="header">
          <h1 class="heading">Stickies!</h1>
      </div>
			-->
			{% include "general/header/header-simple.html" %}
		<div class="vcenter">
			<div class="main">
                <h2> {% translate "Manage guest rights" %}</h2>
				<!--<p>This is my page</p>-->
				<form action="{% url 'wall:editGuestRights' roomName%}" method="post" id="changeGuestRightsForm">
					<fieldset>
						{% csrf_token %}
						<input type="checkbox" name="customGuestRights" id="customGuestRights" checked>
						<label for="customGuestRights">{%translate "Customize guest rights" %}</label>
						<br>
						<br>
						<br>
						<div name="divCustomGuestRights" id="divCustomGuestRights">
							<input type="checkbox" name="guestRightAddNote" id="guestRightAddNote" {% if not guestRights or guestRights.addNote %}checked{%endif%}>
							<label for="guestRightAddNote">{% translate "Add notes" %}</label>
							<br>
							<input type="checkbox" name="guestRightLikeNote" id="guestRightLikeNote" {% if not guestRights or guestRights.likeNote %}checked{%endif%}>
							<label for="guestRightLikeNote">{% translate "Like notes" %}</label>
							<br>
							<input type="checkbox" name="guestRightAddImg" id="guestRightAddImg" {% if not guestRights or guestRights.addImg %}checked{%endif%}>
							<label for="guestRightAddImg">{% translate "Add images" %}</label>
							<br>
							<input type="checkbox" name="guestRightAddReply" id="guestRightAddReply" {% if not guestRights or guestRights.addReply %}checked{%endif%}>
							<label for="guestRightAddReply">{% translate "Add replies" %}</label>
							<br>
							<input type="checkbox" name="guestRightEditNote" id="guestRightEditNote" {% if not guestRights or guestRights.editNote %}checked{%endif%}>
							<label for="guestRightEditNote">{% translate "Edit notes" %}</label>
							<br>
							<input type="checkbox" name="guestRightEditReply" id="guestRightEditReply" {% if not guestRights or guestRights.editReply %}checked{%endif%}>
							<label for="guestRightEditReply">{% translate "Edit replies" %}</label>
							<br>
							<input type="checkbox" name="guestRightRemoveNote" id="guestRightRemoveNote" {% if not guestRights or guestRights.removeNote %}checked{%endif%}>
							<label for="guestRightRemoveNote">{% translate "Remove notes" %}</label>
							<br>
							<input type="checkbox" name="guestRightRemoveReply" id="guestRightRemoveReply" {% if not guestRights or guestRights.removeReply %}checked{%endif%}>
							<label for="guestRightRemoveReply">{% translate "Remove replies" %}</label>
							<br>
							<input type="checkbox" name="guestRightChangeGuestRights" id="guestRightChangeGuestRight"{% if guestRights and guestRights.changeGuestRights %}checked{%endif%}>
							<label for="guestRightChangeGuestRights">{% translate "Change guest rights" %}</label>
							<br>
							<input type="checkbox" name="guestRightAddPassword" id="guestRightAddPasword"{% if guestRights and guestRights.addPassword %}checked{%endif%}>
							<label for="guestRightAddPasword">{% translate "Add pasword to room" %}</label>
							<br>
							<input type="checkbox" name="guestRightRemovePassword" id="guestRightRemovePasword"{% if guestRights and guestRights.removePassword %}checked{%endif%}>
							<label for="guestRightRemovePasword">{% translate "Remove password from room" %}</label>
							<br>
							<input type="checkbox" name="guestRightChangePassword" id="guestRightChangePassword"{% if guestRights and guestRights.changePassword %}checked{%endif%}>
							<label for="guestRightChangePassword">{% translate "Change password of room" %}</label>
							<br>
							<input type="checkbox" name="guestRightChangeModeratorPassword" id="guestRightChangeModeratorPassword"{% if guestRights and guestRights.changeModeratorPassword %}checked{%endif%}>
							<label for="guestRightChangeModeratorPassword">{% translate "Change moderator password" %}</label>
							<br>
							<input type="checkbox" name="guestRightDeleteRoom" id="guestRightDeleteRoom"{% if guestRights and guestRights.deleteRoom %}checked{%endif%}>
							<label for="guestRightDeleteRoom">{% translate "Delete room" %}</label>
							<br>
					    
							{% if not customGuestRights %}
							<div class="divPasswordStuff">
			        <br>
							<label for="modPassword" id="labelModPassword">{% translate "Moderator password: " %}</label>
							<br>
							<input type="text" id="modPassword" name="modPassword" style="max-width: 90%; min-width: 250px;"><br>
							<button type="button" id="modGeneratePassword" name="modGeneratePassword" onclick="getGeneratedPassword('modPassword')">{% translate "generate" %}</button>
							</div>
							{% elif customGuestRights or errmsg %}
							<br>
							<input type="checkbox" name="changePassword" id="changePassword" onchange='toggleChangePassword()' {% if errmsg %} checked {% endif %}>
							<label for="guestRightDeleteRoom">{% translate "Change Password" %}</label>
							{% if errmsg %}<p style="color:red;">{{errmsg}}</p>{%endif%}
							<div class="divPasswordStuff" id="divPasswordStuff" style="display:none;">
			        <br>
							<label for="oldModPassword" id="labelOldModPassword">{% translate "Old moderator password: " %}</label>
							<br>
							<input type="text" id="oldModPassword" name="oldModPassword" style="max-width: 90%; min-width: 250px;" maxlength=100><br>
							<label for="newModPassword" id="labelNewModPassword">{% translate "New moderator password: " %}</label>
							<br>
							<input type="text" id="newModPassword" name="newModPassword" style="max-width: 90%; min-width: 250px;" maxlength=100><br>
							<label for="newModPasswordRep" id="labelNewModPasswordRep">{% translate "Repeat new moderator password: " %}</label>
							<br>
							<input type="text" id="newModPasswordRep" name="newModPasswordRep" style="max-width: 90%; min-width: 250px;" maxlength=100><br>
							<button type="button" id="modGeneratePassword" name="modGeneratePassword" onclick="getGeneratedPassword('modPassword')">{% translate "generate" %}</button>
							</div>
							{% endif %}
						</div>
						<br>

  					<input class="buttonSubmit" type="button" onclick="checkForm()" value={% translate "Edit!" %}>
					</fieldset>
				</form>

			</div>
		</div>
  </body>
	<script>
		function getGeneratedPassword(id) {
			let pw;
			const http = new XMLHttpRequest();
	    http.open("GET","/generatePassword/");
			http.send();
			http.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					pw = http.responseText;
					console.log(pw);
					{% if customGuestRights or errmgs %}
			    document.getElementById("newModPassword").value = pw;
			    document.getElementById("newModPasswordRep").value = pw;
					{% else %}
			    document.getElementById(id).value = pw;
					{%endif %}
				}
			}
	  }
		{% if customGuestRights %}
		function toggleChangePassword() {
			chkbx = document.getElementById("changePassword");
			if (chkbx.checked) {document.getElementById("divPasswordStuff").style.display = "inline"}
			else {document.getElementById("divPasswordStuff").style.display = "none"}
		}
		toggleChangePassword();
		{% endif %}
		function checkForm() {		
			 if ((document.getElementById("newModPassword") != null && document.getElementById("changePassword").checked && document.getElementById("newModPassword").value == "" && document.getElementById("newModPasswordRep").value == "") || (document.getElementById("modPassword") != null && document.getElementById("modPassword").value == "")) {
		     if (confirm ('{% translate "You left an empty password. Are you sure, you want to leave the password empty?" %}')) {document.getElementById("changeGuestRightsForm").submit();}

			}
			else {document.getElementById("changeGuestRightsForm").submit();}

		}
	</script>
</html>


{% endlanguage %}
