<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
{% load static %}
{% load i18n %}

<!-- {{request.session.django_language}} -->
{% language request.session.django_language %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Stickies!</title>
		<link rel="stylesheet" type="text/css" href="{% static 'wall/passwordProtectedRoom.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'wall/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'wall/addEditContentForm.css' %}">
  </head>
  <body>
      <div class="header">
				<h1> {{ strTitle }}</h1>
      </div>
			<center>
  			<div class="main">
					{% if noteText %}
					<div class="note origNote">{{noteText}}</div>
					{% endif %}
					<p>
					{{ message }}
			    </p>
					{% if buttonCancel %}
					<button><a href={{buttonCancelLink}}>{{buttonCancelText}}</a></button>
					{% endif %}
					<button><a href={{buttonLink}}>{{ buttonText }}</a></button>
			  </div>
		  </center>
		
  </body>
</html>

{% endlanguage %}
