<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
{% load static %}
{% load i18n %}

<!-- {{request.session.django_language}} -->
{% language request.session.django_language %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Stickies!</title>
		<link rel="stylesheet" type="text/css" href="{% static 'wall/passwordProtectedRoom.css' %}">
  </head>
  <body>
      <div class="header">
				<h1>Stickies</h1>
      </div>
			<center>
				<a href="/wall/{{roomName}}/">
					<button style="width:20%; height:50px; margin-bottom:20px; margin-top:20px">{% translate "Back" %}</button>
				</a>
  			<div class="main">
				  {% for img in imgs %}

					<a href="/media/{{img.file}}" target="_blank">
					  <img src="/media/{{img.file}}" style="width:100%;margin-bottom:2%"></a>

					{% endfor%}
			  </div>
				<br>
				<a href="/wall/{{roomName}}/">
					<button style="width:20%; height:50px;">{% translate "Back" %}</button>
				</a>
				<br>
		  </center>
		
  </body>
</html>

{% endlanguage %}
