<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
{% load static %}
{% load i18n %}

<!-- {{request.session.django_language}} -->
{% language request.session.django_language %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Stickies!</title>
		<link rel="stylesheet" type="text/css" href="{% static 'wall/passwordProtectedRoom.css' %}">
  </head>
  <body>
<!--      <div class="header">
				<h1> {% translate 'Login as moderator!' %}</h1>
</div>-->
      {% include "general/header/header-simple.html" %}
			<center>
  			<div class="main">
						<br>
						{% if msg %}
						{{msg}}
						{% endif %}
						<form action="/wall/{{roomName}}/moderatorLogin/" method="POST">
							{% csrf_token %}
							{% if wrongPassword %}
							  <p style="color: red;">{% translate "Error: password didn't match" %}</p>
							{% endif %}
						  <label for="password">{% translate "Password: " %}</label>
   						<input type="text" id="password" name="password">
	   					<br>
							<button><a href="/wall/{{roomName}}">{% translate 'Go back' %}</a></button>
							<input type="submit" value="{% translate 'Login!' %}">
						</form>
			    </p>
			  </div>
		  </center>
		
  </body>
</html>

{% endlanguage %}
