<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
{% load static %}
{% load i18n %}

<!-- {{request.session.django_language}} -->
{% language request.session.django_language %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Stickies!</title>
		<link rel="stylesheet" type="text/css" href="{% static 'wall/passwordProtectedRoom.css' %}">
  </head>
  <body>
      <div class="header">
				<h1> {% translate 'Room is password protected!' %}</h1>
      </div>
			<center>
  			<div class="main">
					<p>
	  			  {% translate "This room already exists and is password protected. If you know the password, you can join it! Otherwise go back and create another room with another name." %}
						<br>
						<form action="/wall/{{roomName}}/" method="POST">
							{% csrf_token %}
							{% if wrongPassword %}
							  <p style="color: red;">{% translate "Error: password didn't match" %}</p>
							{% endif %}
						  <label for="password">{% translate "Password: " %}</label>
   						<input type="text" id="password" name="password">
	   					<br>
							<button><a href="/">{% translate 'Go back' %}</a></button>
							<input type="submit" value="{% translate 'Join room!' %}">
						</form>
			    </p>
			  </div>
		  </center>
		
  </body>
</html>

{% endlanguage %}
