<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
{% load static %}
{% load i18n %}

<!-- {{request.session.django_language}} -->
{% language request.session.django_language %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Stickies!</title>
		<link rel="stylesheet" type="text/css" href="{% static 'wall/removeForm.css' %}">
  </head>
  <body>
<!--      <div class="header">
				<h1>
  					{{strTitle}}
				</h1> 
</div>-->
      {% include "general/header/header-simple.html"%}
			<center>
  			<div class="main">
					<p>
					{{ msg }}
						<br>
						{% if errormsg %}
						<p style="color: red;">{{errormsg}}</p>
						{% endif %}
						<form action={{formLink}} method="POST">
							{% csrf_token %}
							
							{% if passwordProtection %}
						  <label for="password">{% translate "Password: " %}</label>
   						<input type="text" id="password" name="password" maxlength=100>
	  					<br>
							{% endif %}
							{% if buttonCancel %}
							<button type="button" class="cancel"><a href="{{buttonCancelLink}}">{{buttonCancelText}}</a></button>
							{% endif %}
							<input type="submit" value="{{buttonSubmitText}}">
						</form>
			    </p>
			  </div>
		  </center>
		
  </body>
</html>

{% endlanguage %}
