<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
{% load static %}
{% load i18n %}

{% language request.session.django_language %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Stickies!</title>
	<link rel="stylesheet" type="text/css" href="{% static 'wall/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'wall/menu.css' %}">
  </head>
  <body>
			{%include "general/header/header-wall.html" %}
			{% if not guestRights or guestRights.addNote or isMod %}
      <a href="/wall/{{ roomName }}/addnote/" class="addNote"><img class="addNoteImg" src="{% static  'wall/images/add.svg'%}"></a>
			{% endif %}

      <div class="main" id="main">
      </div>
      <script>
        var notes = JSON.parse(JSON.stringify({{notes}}));
        var ncols = "{{ncols}}";
        var roomName = "{{roomName}}";
        var lastModified = "{{lastModified}}";
				var passwordProtection = {% if passwordProtection %} true {%else%} false {%endif%};
				var customGuestRights = {% if guestRights %} true {%else%} false {%endif%};
				var isMod = {% if isMod %} true {%else%} false {%endif%};
				{%if guestRights %}
        var guestRights = JSON.parse(JSON.stringify({{guestRightsJS}}));
				{%else%}
				var guestRights = {}
				{% endif %}

        var imgLikeSrc = "{% static 'wall/images/like.png' %}";
        var imgReplySrc = "{% static 'wall/images/reply.png' %}";
				var imgEditSrc = "{% static 'wall/images/edit.svg' %} ";
        var imgRemoveSrc = "{% static 'wall/images/remove.png' %}";
				
				var strConfirmRoomDelete = '{% translate "Are you sure, you want to delete the room? All stored data is lost! Be careful!" %}';
				var strConfirmNoteRemove = "{% translate 'Are you sure, you want to delete the selected note?' %}";
				var strConfirmReplyRemove = "{% translate 'Are you sure, you want to delete the selected reply?' %}";
        var strLike = "{% translate 'like' %}"
        var strReply = "{% translate 'reply' %}"
				var strEdit = "{% translate 'edit' %}"
        var strRemove = "{% translate 'remove' %}"

				var strReplies = "{% translate 'replies' %}"
      </script>
      <script src="{% static 'wall/wall.js' %}"></script>

			{% include "general/footer.html" %}
  </body>
</html>

{% endlanguage %}
