.header .menu {
  position: absolute;
  right: 3%;
  top: 26px;
  display: inline-block;
  vertical-align: middle;
  width:200px;
  height:70px;
}

.header .menuImg {
  float:right;
  height:52px;
  margin-bottom:0;
}
.header .home {
  position: absolute;
  left: 3%;
  top: 26px;
  display: inline-block;
  vertical-align: middle;
  width:200px;
  height:70px;
}
.header .homeImg {
  float:left;
  height:52px;
  margin-bottom:0;
}

.menu:hover nav {display: block;}

nav {
  display:none;
  background-color: #f1f1f1;
  position:absolute;
  right:0;
  top:60px;

}
nav ul {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
  border: 1px solid black;

  }
nav ul li {
  background-color: #f1f1f1;
  color: black;
  width: 200px;
  max-width: 47vw;
  line-height: 30px;
}
nav ul li:not(:last-child) {
  border-bottom: 1px solid black;
}
nav a {
  color:black;
  text-decoration:none;
  display:block;
  padding:0 10px;
}

.selected {
  background-color: maroon;
  color:white;
}
nav li:hover {
  background-color: maroon;
  color: white;
}
nav ul ul {
  top: -1px;
  position: absolute;
  display: none;
  right: min(46.9vw, 199px);
}
nav ul li:hover > ul {
  display:inherit;
}
nav ul ul li {
  width:238px;
  max-width: 47vw;
  display:list-item;
  float:none;
  position: relative;
}
nav a:hover {color: white;}
nav ul ul ul li {
  left:0px;
  position: relative;
  top:-60px;
}
