.vcenter {
  /*height: 80vh;
  background-color:green;*/
  display: table;
}

body {
  background-color: #f4f0ec;
}

select {
    text-align: center;
}

.header {
  width: 98vw;
  background-color: maroon;
  color: white;
  height: 90px;
  text-align: center;
  display: table;
  border-radius: 30px;
}

.header .heading{ 
  display: inline-block;
  width: auto;
}

.main {
  display: table-cell;
  width: 100vw;
  height: 70vh;
  vertical-align: middle;
  text-align: center;
}

form {
  margin-bottom: 100px;
  }

.divCustomGuestRights {
  max-width: 95%;
  display:none;
}

.divPasswordStuff {
  max-width: 95%;
}

.inputPassword {
	display:none;
}

.buttonSubmit {
    width: 30%;
    height: 50px;
    /*font-size: 20px;*/
}
