<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
{% load static %}
{% load i18n %}

<!-- {{request.session.django_language}} -->
{% language request.session.django_language %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Stickies!</title>
		<link rel="stylesheet" type="text/css" href="{% static 'wall/roomAlreadyExists.css' %}">
  </head>
  <body>
      <div class="header">
				<h1> {% translate 'Room already exists' %}</h1>
      </div>
			<center>
  			<div class="main">
					<p>
	  			  {% translate "This room already exists and is NOT (!) password protected. You can not simply overwrite a public room. Either go back and try with another room name, or join the public room" %}
						<br>
						<button><a href="/">{% translate "Go back" %}</a></button>
						<button><a href="/{{roomType}}/{{roomName}}">{% translate "Join (public!) room" %}</a></button>
			    </p>
			  </div>
		  </center>
		
  </body>
</html>

{% endlanguage %}
