<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
{% load i18n %}
{% language request.session.django_language %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'startapp/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startapp/menu.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'general/info.css' %}">
		<title>Stickies!</title>
{% include "general/header/header-simple.html" %}
	</head>
	<div class="info">
		<h1>{% translate "About" %}</h1>
		<p>
		  {% blocktranslate %}
			Welcome to Stickies! Stickies is an easy to use collaborative bulletin board like App, where you can share ideas by putting virtual sticky notes on a board with your friends or your colleagues. It is meant to be <strong>open source</strong>, <strong>privacy friendly</strong> and <strong>easy to use</strong>.
			{% endblocktranslate %}
			<br><br>
			{% blocktranslate %}
			Stickies! was created by a member of the <a href="https://www.stura.uni-heidelberg.de/vs-strukturen/referate/edv/">EDV-Referat</a> (IT-Department) of the <a href="www.stura.uni-heidelberg.de">Studierendenrat</a> (Student's union) at <a href="www.uni-heidelberg.de">Heidelberg University</a>, and is still under development.
			{% endblocktranslate %}
			<br>
			<br>
			{% blocktranslate %}
			This app is written using the <a href="https://www.djangoproject.com">django webframework</a> and the source code can be found at <a href="https://gitlab.com/edvsturahd/stickies/-/tree/main#translation">gitlab</a> with further information and help on how to deploy your own server.
			{% endblocktranslate %}
		</p>

	</div>
</html>
{% endlanguage %}
