{% load static %}
{% load i18n %}

<link rel="stylesheet" type="text/css" href="{% static 'general/footer.css' %}">
{% language request.session.django_language %}
<div id="footer" class="footer">
	<center>
    <div class="hidden" id="hiddendiv">
			<a href="/info/help/{%if roomType%}{{roomType}}/{%endif%}{%if roomName%}{{roomName}}/{%endif%}" class="afooter">
			{% translate "Help" %}
		</a>
		<a href="/info/about/{%if roomType%}{{roomType}}/{%endif%}{%if roomName%}{{roomName}}/{%endif%}" class="afooter">
			{% translate "About" %}
		</a>
		<a href="/info/legal/{%if roomType%}{{roomType}}/{%endif%}{%if roomName%}{{roomName}}/{%endif%}" class="afooter">
			{% translate "Legal notice" %}
		</a>
		<a href="/info/privacy/{%if roomType%}{{roomType}}/{%endif%}{%if roomName%}{{roomName}}/{%endif%}" class="afooter">
			{% translate "Privacy notice" %}
		</a>
		<a href="/info/issue/{%if roomType%}{{roomType}}/{%endif%}{%if roomName%}{{roomName}}/{%endif%}" class="afooter">
			{% translate "Report an Issue" %}
		</a>
	</div>
	</center>
	
</div>

{%endlanguage %}
