<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
{% load i18n %}
{% language request.session.django_language %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'startapp/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startapp/menu.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'general/info.css' %}">
		<title>Stickies!</title>
{% include "general/header/header-simple.html" %}
	</head>
	<div class="info">
		<h1>{% translate "Help" %}</h1>
		<p>
		  {% blocktranslate %}
			  Welcome to Stickies! Stickies is an easy to use collaborative bulletin board like App, where you can share ideas by putting virtual sticky notes on a board with your friends or your colleagues.
			{% endblocktranslate %}
		</p>
		<h2><a id="toc">{% translate "Table of contents" %}</a></h2>
		<ul>
			<li><a href="#roomCreation">{% translate "Creating a room" %}</a>
				<ul>
					<li><a href="#roomTypes">{% translate "Room types" %}</a>
						<ul>
							<li><a href="#bulletinBoard">{% translate "Bulletin board" %}</a></li>
						</ul>
						<li><a href="#guestRights">{% translate "Guest rights" %}</a></li>
						<li><a href="#passwordProtection">{% translate "Password protection" %}</a></li>
					</li>
				</ul>
			</li>
			<li><a href="#usingRooms">{%translate "Using rooms"%}</a>
				<ul>
					<li><a href="#usingBulletinBoard">{%translate "Bulletin board" %}</a>
						<ul>
							<li><a href="#addNote">{% translate "Add notes" %}</a></li>
							<li><a href="#images">{% translate "Images" %}</a></li>
							<li><a href="#addReply">{% translate "Add replies" %}</a></li>
							<li><a href="#editing">{% translate "Edit notes and replies" %}</a></li>
							<li><a href="#deleting">{% translate "Delete notes and replies" %}</a></li>
							<li><a href="#wallMenu">{% translate "Using the menu" %}</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		<h2><a id="roomCreation">{% translate "Creating a room" %}</a></h2>
		<p>
			{% blocktranslate %}
			Creating a room as totally easy. Simply go to the <a href="/">home page</a>, enter a name for the room, select a <a href="#roomTypes">room a type</a> and click create! You can add <a href="#guestRights">guest rights</a> or <a href="#passwordProtection">protect your room with a password</a>. After then <strong>share the link</strong> (simply copy it from your browser) with the people you want to invite to your room.<br>
			Without <a href="#passwordProtection">password protection</a> your room will be available to anyone who has (or guesses!) the link to your room, and without <a href="#guestRights">guest rights</a> anyone who has (or again guesses) the link to the room, can meddle around in it!<br>
			But don't worry too much about that at the beginning, you can always change these options when using the room in the menu (<a href="#wallMenu">Wall</a>).

			{% endblocktranslate %}
		</p>
		<h3><a id="roomTypes">{% translate "Room Types" %}</a></h3>
		<p>
		{% blocktranslate %}
		For now Stickies! only has a <a href="#bulletinBoard">bulletin board</a> room type. Another type called <a href="#drawers">drawers</a> is planned
		{% endblocktranslate %}
		</p>
		<h4><a id="bulletinBoard">{% translate "Bulletin board" %}</a></h4>
		<p>
		  {% blocktranslate %}
			The bulletin board is a very simple roomtype, where users can just add notes (with images), reply to them and likes them. They will be arranged automatically, you can adjust a sorting method and the number of columns in the menu (gear icon in the top right).<br>
			The <strong>mixed sorting</strong> puts new notes (from the last five minutes) first, thus giving new notes the possibility to be read first. Notes older than five minutes are orderd by a mixture of amount of comments and amount of likes (where both count as one).
			<br>
			The other <strong>sorting</strong> methods should be self explanatory.
			{% endblocktranslate %}
		</p>
		<h3><a id="guestRights">{% translate "Guest rights" %}</a></h3>
		<p>
		{% blocktranslate %}
		By default anyone can do anything in a room. This includes editing and deleting messages, replies, or even deleting the room. There are more evil possibilites, but let's not delve to deep into these issues. If you don't want users to be able to meddle around too much, you can adjust the rights for your guest. You could boil their rights down to just watching, but keep in mind, that that's probably a bit boring. Sensible choice would be to forbid users to remove or edit notes, delete the room etc.<br>
		If you introduce guest rights, you also have to add a <strong>moderator password</strong>, thus having at least one person as moderator which is able to do anything. If you create a room with customized guest rights, you'll be automatically added to the list of moderators.<br>
		If you also use <a href="#passwordProtection">password protection</a> on your room, make sure to chose different passwords, as the people you invite should know the password for the room, but should not necessarily know the moderator password, which would allow them to do damage to the room.
		{% endblocktranslate %}
		</p>
		<h3><a id="passwordProtection">{% translate "Password Protection" %}</a></h3>
		<p>
		{% blocktranslate %}
		If you don't want anyone (who knows or guesses) the room link to be able to access your room, you can add password protection. If you're not very creative, you can use the generate button, which will generate a password for you. Make sure to <strong>copy and store</strong> it somewhere, since you need to share the password with people, and you need it if you want to log in some later time, or even if you want to delete your room.<br>
		The random password generator uses linuxes urandom, and <strong>should</strong> be pretty secure. However, even if that was not good, storing or sharing the password should be the easier attack vectors. Yes the password generator gives <em>just</em> a hexadecimal number, but it is a common misconeption, that passwords should include numbers, uppercase or lowercase characters and whatever else weird symbols come to mind. Understanding <a href="https://en.wikipedia.org/wiki/Exponentiation">exponential functions</a>, one comes to the conclusion that the exponent, thus password length, is way more important than the base (amount of possibly used characters).<br>
		Only hashed passwords are stored, with a salt generated by urandom.<br>
		<strong>CAREFUL:</strong> Images will <strong>always</strong> be <strong>publicly available</strong>. <strong>No matter</strong> if the room was <strong>password protected</strong>. This is due to the fact that the media files are served by nginx and not django itself.
		{% endblocktranslate %}
		</p>

		<h2><a id="usingRooms">{%translate "Using Rooms" %}</a></h2>
		<p>
		{% blocktranslate %}
		Using rooms should be pretty straight forward, but feel free to continue reading, if you are puzzeled at some point
		{% endblocktranslate %}
		</p>
		<h3><a id="usingBulletinBoard">{% translate "Bulletin board" %}</a></h3>
		<p>
		{% blocktranslate %}
		Using the bulletin board type is easy, just start with adding a first note by clicking on the big white plus on red background, a form should show up, and you can Enter your fist note :). <br>
		By default the <strong>username</strong> is anonymous, of course you can just leave it at that. But you can also enter a username for just once, or click on the <strong>store username</strong> checkbox, to remember the username for the next note, reply, or even for edits. With the image file field you can also add images to your note.
		{% endblocktranslate %}
		</p>
		<h4><a id="addNote">{% translate "Add notes" %}</a></h4>
		<p>
		{% blocktranslate %}
		This is basically just a repition. by clicking on the white plus on red background you can add a note. A form should pop up and you can enter you note with Text. You can also remember the username, or just use a name for one note. Adding <a href="#images">images</a> is also possible.
		{% endblocktranslate %}
		</p>
		<h4><a id="images">{% translate "Images" %}</a></h4>
		<p>
		{% blocktranslate %}
		When adding notes, you can also add images (of course also a single image). Up to three will be shown in the note as preview, if you've added more than three images, a notification will show up, to click on one image for all images. If you click on any image (no matter how many there are) you'll be redirected to another page which shows all images (yes even more than three) in a higher resolution. In this image page you can click on an image again to get the full image.<br>
		<strong>CAREFUL:</strong> Images will <strong>always</strong> be <strong>publicly available</strong>. <strong>No matter</strong> if the room was <strong>password protected</strong>. This is due to the fact that the media files are served by nginx and not django itself.
		{% endblocktranslate %}
		</p>
		<h4><a id="addReply">Add replies</a></h4>
		<p>
		{% blocktranslate %}
		Once someone <a href="#addNote">added a note</a>, you can also add a reply by simply clicking on the reply button at the bottom of the note. Again you can choose to have a username once, and even store to rember it. When answering to a note, you <strong>can not add images</strong>.
		{% endblocktranslate %}
		</p>
		<h4><a id="editing">{%translate "Edit notes and replies"%}</a></h4>
		<p>
		{% blocktranslate %}
		Editing notes and replies is just like adding <a href="#addNote">notes</a> and <a href="#addReply">replies</a>. You'll find an edit button at the bottom of the notes or replies. There is a small difference when editing notes, you can just either <strong>remove all</strong> images, or none at all. There is a workaround if you want to delete one or just some images, by deleting all of them and reuploading just those images, that you want to keep in your note.
		{% endblocktranslate %}
		</p>
		<h4><a id="deleting">{%translate "Delete notes and replies"%}</a></h4>
		<p>
		{% blocktranslate %}
		If there are notes and replies in the room, there will be a button at the bottom of each, which will allow you to delete them. But careful, once you've deleted something, it is gone forever and <strong>can not be undone!</strong> You'll have to confirm a popup.
		{% endblocktranslate %}
		</p>

		<h4><a id="wallMenu">{%translate "Using the menu" %}</a></h4>
		<p>
		{% blocktranslate %}
		In the top right corner of the header you will find a gear icon. If you hover over it with your cursor, a menu will apear. <br>
		In this menu you can:
		<ul>
			<li>
				<strong>change the language</strong>, though currently only german and english are supported, but you can <a href="https://gitlab.com/edvsturahd/stickies/-/tree/main#translation" target="_blank">help translating</a>
			</li>
			<li>
				choose <strong>the number of columns</strong> that should be displayed in the browser. Too many are leads to narrow notes, and too few lead to very broad notes. The <strong>auto</strong> setting, whill try to find a good number automatically.
			</li>
			<li>
				select <strong>sorting</strong> method, where the <strong>auto</strong> method puts new notes (less than 5 minutes old) first, and then sorts older messages by a mixture of likes and amount of comments (each weighted as one). The other options should be self explanatory.
			</li>
			<li>
				Depending on your settings you can <strong>add, change and remove <a href="#passwordProtection">passwords</a></strong> in the menu. Of course you can add a password, if the room was not password protected, and only change a password if the room is password protected. Similarly for removing passwords.
			</li>
			<li>
				<strong>Add or edit <a href="#guestRights">guest rights</a></strong> if you haven't done so when creating the room.
			</li>
			<li>
				<strong>Login or logout as moderator</strong> if the room has customized guest rights. Moderators will then again be allowed to do all the stuff, that is forbidden for guests.
			</li>
			<li>
				<strong>Deleting the room</strong> yeah well deletes the room with all it's containing data. Once a room is deleted, <strong>all data is lost!</strong>
			</li>
			
		</ul>
		{% endblocktranslate %}
		</p>

	</div>
</html>
{% endlanguage %}
