<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
{% load i18n %}
{% language request.session.django_language %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'startapp/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startapp/menu.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'general/info.css' %}">
		<title>Stickies!</title>
{% include "general/header/header-simple.html" %}
	</head>
	<div class="info">
		<h1>{% translate "Report an Issue" %}</h1>
		<p>
		  {% blocktranslate %}
			You found and error, or spotted some problem: Great! Either report it directly to <a href="https://gitlab.com/edvsturahd/stickies/-/issues">gitlab</a> or write an <a href="mailto:stickies@stura.uni-heidelberg.de">e-mail</a>.
			<br>
			<br>
			Thanks a lot!
			{% endblocktranslate %}
		</p>
	</div>
</html>
{% endlanguage %}
