<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
{% load i18n %}
{% language request.session.django_language %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'startapp/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startapp/menu.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'general/info.css' %}">
		<title>Stickies!</title>
{% include "general/header/header-simple.html" %}
	</head>
	<div class="info">
		<h1>{% translate "Legal notice" %}</h1>
		<p>
		  {% blocktranslate %}
			  This message should be edited by whoever deployed this website.
			{% endblocktranslate %}
		</p>
	</div>
</html>
{% endlanguage %}
