<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
{% load i18n %}
{% language request.session.django_language %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'startapp/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startapp/menu.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'general/info.css' %}">
		<title>Stickies!</title>
{% include "general/header/header-simple.html" %}
	</head>
	<div class="info">
		<h1>{% translate "Privacy notice" %}</h1>
		<p>
		  {% blocktranslate %}
			  This message should be edited by whoever deployed this website.
			{% endblocktranslate %}
			<br>
			<br>
			{% blocktranslate %}
			In general this website only uses necessary cookies, such that the website runs properly. No data is given to any third parties. <br><br>
			A cookie with a session_key is created and related to data if:
			<ul>
				<li>you change the language to something else which is not your default (lang. option is stored)</li>
				<li>you change the number of cols (option is stored)</li>
				<li>you change the sorting method (sorting method ist stored)</li>
				<li>you choose to store the username (suprisingly the username ist stored)</li>
				<li>you are a moderator of a room with customized guest rights (time of creation and last activity time is stored)</li>
				<li>you are in a password protected room (time of creation and last activity time is stored)</li>
			</ul>
			That's it. Shouldn't be too personal data.
			{% endblocktranslate %}
		</p>
	</div>
</html>
{% endlanguage %}
