{% load static %}
{% load i18n %}

{% language request.session.django_language %}
<link rel="stylesheet" type="text/css" href="{% static 'startapp/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'startapp/menu.css' %}">


<div class="header">
	<a href="/{%if roomType %}{{roomType}}/{%endif%}{%if roomName %}{{roomName}}/{%endif%}">
			<div class="home">
							<img class="homeImg" src="{% static 'startapp/images/home.svg' %}">
			</div>
	</a>
			<h1 class="heading">{% if strTitle %}{{strTitle}}{%else%}Stickies!{%endif%}</h1>
					<div class="menu">
						<img class="menuImg" src="{% static 'startapp/images/menu.svg' %}">
						<nav>
							<ul>
								{% comment %} Try to append (lang) to the translated text {% endcomment %}
								<li>&lt; {% translate "Language" %}
									<ul>
										{% get_available_languages as LANGUAGES %}
										{% for language in LANGUAGES %}
										<li><a href="/lang/{{language.0}}/{%if info%}info/{%endif%}{% if infoType %}{{infoType}}/{%endif%}{%if roomType %}{{roomType}}/{%endif%}{%if roomName %}{{roomName}}/{%endif%}{% if link %}{{link}}/{%endif%}">{{language.0}}</a></li>
										{% endfor %}
									</ul>
								</li>
							</ul>
						</nav>
					</div>
</div>

{%endlanguage%}
