<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
{% load static %}
{% load i18n %}

{% language request.session.django_language %}
<link rel="stylesheet" type="text/css" href="{% static 'wall/menu.css' %}">
<div class="header vcenter">
	<a href="/">
			<div class="home">
							<img class="homeImg" src="{% static 'startapp/images/home.svg' %}">
			</div>
	</a>
		<h1 class="heading" style="display: table-cell; width: 50%; display:inline-block; vertical-align:middle;">
			{% if passwordProtection %}<img style="height: 25px;" src={% static 'wall/images/lock.svg'%}>{% endif %}
			{{ roomName }}
		</h1>
		<div class="menu">
			<img class="menuImg" src="{% static 'wall/images/menu.svg' %}">
			<nav>
				<ul>
					{% comment %} try to keep (lang) somwhere in translation. e.g. Sprache (lang) {% endcomment %}
					<li>&lt; {% translate "language" %}
						<ul>
							{% get_available_languages as LANGUAGES %}
							{% for language in LANGUAGES %}
								<li><a href="session/django_language/{{language.0}}/">{{language.0}}</a></li>
							{% endfor %}
						</ul>
					</li>
					<li> &lt; {% translate "no. of cols" %}
						<ul>
							<li><a href="session/ncols/auto" {% if ncols == "auto" %} class="selected" {% endif %}>auto</a></li>
							<li><a href="session/ncols/1" {% if ncols == "1" %} class="selected" {% endif %}>1</a></li>
							<li><a href="session/ncols/2" {% if ncols == "2" %} class="selected" {% endif %}>2</a></li>
							<li><a href="session/ncols/3" {% if ncols == "3" %} class="selected" {% endif %}>3</a></li>
							<li><a href="session/ncols/4" {% if ncols == "4" %} class="selected" {% endif %}>4</a></li>
							<li><a href="session/ncols/5" {% if ncols == "5" %} class="selected" {% endif %}>5</a></li>
							<li><a href="session/ncols/6" {% if ncols == "6" %} class="selected" {% endif %}>6</a></li>
						</ul>
					</li>
					<li> &lt; {% translate "sorting" %}
						<ul>
							<li><a href="session/sorting/mixed" {% if sorting == "mixed" %} class="selected" {% endif %}>{% translate "mixed" %}</a></li>
							<li><a href="session/sorting/agenewestfirst" {% if sorting == "agenewestfirst" %} class="selected" {% endif %}>{% translate "age (newest first)" %}</a></li>
							<li><a href="session/sorting/ageoldestfirst" {% if sorting == "ageoldestfirst" %} class="selected" {% endif %}>{% translate "age (oldest first)" %}</a></li>
							<li><a href="session/sorting/likesmorefirst" {% if sorting == "likesmorefirst" %} class="selected" {% endif %}>{% translate "likes (more first)" %}</a></li>
							<li><a href="session/sorting/likeslessfirst" {% if sorting == "likeslessfirst" %} class="selected" {% endif %}>{% translate "likes (less first)" %}</a></li>
							<li><a href="session/sorting/commentsmorefirst" {% if sorting == "commentsmorefirst" %} class="selected" {% endif %}>{% translate "comments (more first)" %}</a></li>
							<li><a href="session/sorting/commentslessfirst" {% if sorting == "commentslessfirst" %} class="selected" {% endif %}>{% translate "comments (less first)" %}</a></li>
						</ul>
					</li>

					{% if guestRights and not isMod %}
					<li><a href="moderatorLogin/">{% translate "Moderator login" %}</a></li>
					{%endif%}

					{% if passwordProtection and guestRights.changePassword or passwordProtection and not customGuestRights or not passwordProtection and guestRights.addPassword or not passwordProtection and not customGuestRights or isMod %}
					<li><a href="addChangePassword/">{% if passwordProtection %}{% translate 'Change password' %}{% else %}{% translate 'Add password' %}{% endif %}</a></li>
					{% endif %}
					
					{% if not guestRights or guestRights.removePassword or isMod %}
					{% if passwordProtection %}<li><a href="removePassword/">{% translate 'Remove password' %}</a></li> {%endif%}
					{% endif %}

					{% if not guestRights or guestRights.editGuestRights or isMod %}
					<li><a href="editGuestRights/">{% translate 'Edit guest rights' %}</a></li>
					{% endif %}

					{% if isMod %}
					<li><a href="moderatorLogout/">{% translate 'Moderator logout' %}</a></li>
					{%endif%}

					{% if passwordProtection %}
					<li><a href="roomLogout/">{% translate 'Logout of room' %}</a></li>								
					{%endif%}
					
					{% if not guestRights or guestRights.deleteRoom or isMod %}
					<li><a href="delete" onclick="return confirm(strConfirmRoomDelete)">{% translate 'delete room' %}</a></li>
					{%endif%}

				</ul>

			</nav>	
		</div>
</div>

{% endlanguage %}
