<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
{% load static %}
{% load i18n %}

<!-- {{request.session.django_language}} -->
{% language request.session.django_language %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Stickies!</title>
		<link rel="stylesheet" type="text/css" href="{% static 'wall/roomAlreadyExists.css' %}">
  </head>
  <body>
      <div class="header">
				<h1>{{strTitle}}</h1>
      </div>
			<center>
  			<div class="main">
					<p>
					  {{msg}}

						{% if msglist %}
							<ul>
								{% for i in msglist %}
 									<li>{{i}}</li>
								{% endfor %}
							</ul>
						{%endif%}
						{% if aftermsglist %}
						  {{aftermsglist}}
						{%endif%}
						<br>
						<button><a href="/">{% translate "Go back" %}</a></button>
						<button><a href="/{{roomType}}/{{roomName}}">{{buttonText}}</a></button>
			    </p>
			  </div>
		  </center>
		
  </body>
</html>

{% endlanguage %}
