.vcenter {
  /*height: 80vh;
  background-color:green;*/
  display: table;
}

body {
  background-color: #f4f0ec;
}

.header {
  width: 98vw;
  background-color: maroon;
  color: white;
  height: 90px;
  text-align: center;
  display: table;
  border-radius: 30px;
}

button {display: inline-block;}
a {
	color:black;
	text-decoration: none;
}
input {
	max-width: 50%;
}

.main {
  width:60%;
  min-width: 300px;
  max-width: 540px;
}
