.vcenter {
  /*height: 80vh;
  background-color:green;*/
  display: table;
}

body {
  background-color: #f4f0ec;
}

.header {
  width: 98vw;
  background-color: maroon;
  color: white;
  height: 90px;
  text-align: center;
  display: table;
  border-radius: 30px;
}

.addNoteForm {
  max-width: 100%;
}
.origNote {
  max-width:300px;
  min-width:250px;
}
.divName {
  max-width: 100%;
}
.divName .inputName {
  max-width: 40%;
}

button a {
	color: black;
	text-decoration: none;
}

.inputText {
  width:275px;
  max-width: 50%;
  height: 100px;
}
