.vcenter {
  /*height: 80vh;
  background-color:green;*/
  display: table;
}

body {
  background-color: #f4f0ec;
}

.header {
  width: 98vw;
  background-color: maroon;
  color: white;
  height: 90px;
  text-align: center;
  display: table;
  border-radius: 30px;
}

.header .heading {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}



.main {
  width: 95%;
  margin: 0 auto;
  overflow: auto;

}

.main .col {
    margin: 1%;
    /*border: 1px solid black;*/
    float:left;
	margin-bottom:200px;
}

.note {
    margin-top: 4%;
    margin-bottom: 4%;
    border: 1px solid black;
    text-align: center;
    background-color: #ffff99;
    border-radius: 10px;
	overflow-wrap: break-word;
    /*font-size: 14px;*/
}

.main .note .noteUserDate {
    font-size: 10px;
    height:20px;
    margin:5px;
    width: 95%;
    overflow: hidden;
    white-space: nowrap;
}
.pDate {
    display: inline-block;
    width: auto;
    float: right;
    text-align: right;
}
.pName {
    display: inline-block;
    width:auto;
    float: left;
    text-align: left;
}

.main .note .noteInteract {
    font-size: 11px;
    text-align: right;
    /*float:right;*/
    width: 100%;
    /*height:15px;*/
    overflow: hidden;
    white-space: nowrap;
}

.pLikes {
  /*width: 25%;*/
  display: inline-block;
  float:left;
  text-align: left;
}

.pButtons {
    width: 85%;
    display: inline-block;
    float:right;
    overflow:hidden;
    /*display:table;*/
}
.pButtonsReply {
    width: 100%;
    display: inline-block;
    overflow:auto;
    margin-top: 0;
    margin-bottom: 0;
    /*display:table;*/
}

.buttonLike {
   width: auto;
   background-color: maroon;
   color: white;
   border-radius: 6px;
   margin-left: 1px;
   padding-bottom: 1px;
   padding-top: 1px;
   text-decoration: none;
}

.buttonLikeImg {
    height: 12px;
}

.buttonRemoveComment {
  display: inline-block;
  background-color: maroon;
  font-size: 11px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  width:auto;
  float:right;
  /*margin-right:5px;*/
}
.buttonRemoveCommentImg {
  height:12px;
}

.addNote {
    position:fixed;
    bottom: 110px;
    right: 5%;
    width: 80px;
    height: 80px;
    /*background: url(/image)*/
}
.addNoteImg {
    /*width: 100%;*/
    height: 100%;
}

.reply {
 overflow: auto;
}

.replies {
  width:90%;
  margin-left:10%;
  font-size: 14px;
  text-align: left;
  overflow: auto;
}

.pDivRepliesHeading {
    font-size: 12px;

}
