<!DOCTYPE html>

 <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load static %}
{% load i18n %}

<!-- uncomment (replace # with % to test translations) -->
<!-- don't forget {# endlanguage # } at bottom -->

{% language request.session.django_language %}
<!-- {{ request.session.django_language }} -->
{# get_current_language as LANGUAGE_CODE #}

<html>
  <head>
    <meta charset="utf-8">
    <title>Stickies!</title>
		<link rel="stylesheet" type="text/css" href="{% static 'startapp/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startapp/menu.css' %}">
  </head>
  <body>
		{% include "general/header/header-simple.html" %}
		<div class="vcenter">
			<div class="main">
                <h2> {% translate "Create your room to collaborate!" %}</h2>
				<!--<p>This is my page</p>-->

				<form action="{% url 'startapp:create' %}" method="post" id="roomCreationForm">
					<fieldset>
						{% csrf_token %}
						
						<label for="roomName">{% translate "Room name" %}</label>
            <input type="text" id="roomName" name="roomName" maxlength=100> <br>

						<label for=rommType">{% translate "Room type" %}</label>
						<select name="roomType">
							<option value="wall"> {% translate "Bulletin board" %}</option>
              <option value="test">Test (not working)</option>
						</select>
						<br>

						<input type="checkbox" name="customGuestRights" id="customGuestRights" onchange="toggleCustomGuestRights(this)">
						<label for="customGuestRights">{%translate "Customize guest rights" %}</label>
						<br>
						<div name="divCustomGuestRights" id="divCustomGuestRights" class="divCustomGuestRights">
							<input type="checkbox" name="guestRightAddNote" id="guestRightAddNote" checked>
							<label for="guestRightAddNote">{% translate "Add notes" %}</label>
							<br>
							<input type="checkbox" name="guestRightLikeNote" id="guestRightLikeNote" checked>
							<label for="guestRightLikeNote">{% translate "Like notes" %}</label>
							<br>
							<input type="checkbox" name="guestRightAddImg" id="guestRightAddImg" checked>
							<label for="guestRightAddImg">{% translate "Add images" %}</label>
							<br>
							<input type="checkbox" name="guestRightAddReply" id="guestRightAddReply" checked>
							<label for="guestRightAddReply">{% translate "Add replies" %}</label>
							<br>
							<input type="checkbox" name="guestRightEditNote" id="guestRightEditNote" checked>
							<label for="guestRightEditNote">{% translate "Edit notes" %}</label>
							<br>
							<input type="checkbox" name="guestRightEditReply" id="guestRightEditReply" checked>
							<label for="guestRightEditReply">{% translate "Edit replies" %}</label>
							<br>
							<input type="checkbox" name="guestRightRemoveNote" id="guestRightRemoveNote" checked>
							<label for="guestRightRemoveNote">{% translate "Remove notes" %}</label>
							<br>
							<input type="checkbox" name="guestRightRemoveReply" id="guestRightRemoveReply" checked>
							<label for="guestRightRemoveReply">{% translate "Remove replies" %}</label>
							<br>
							<input type="checkbox" name="guestRightChangeGuestRights" id="guestRightChangeGuestRight">
							<label for="guestRightChangeGuestRights">{% translate "Change guest rights" %}</label>
							<br>
							<input type="checkbox" name="guestRightAddPassword" id="guestRightAddPasword">
							<label for="guestRightAddPasword">{% translate "Add pasword to room" %}</label>
							<br>
							<input type="checkbox" name="guestRightRemovePassword" id="guestRightRemovePasword">
							<label for="guestRightRemovePasword">{% translate "Remove password from room" %}</label>
							<br>
							<input type="checkbox" name="guestRightChangePassword" id="guestRightChangePassword">
							<label for="guestRightChangePassword">{% translate "Change password of room" %}</label>
							<br>
							<input type="checkbox" name="guestRightChangeModeratorPassword" id="guestRightChangeModeratorPassword">
							<label for="guestRightChangeModeratorPassword">{% translate "Change moderator password" %}</label>
							<br>
							<input type="checkbox" name="guestRightDeleteRoom" id="guestRightDeleteRoom">
							<label for="guestRightDeleteRoom">{% translate "Delete room" %}</label>
							<br>
						
							<div class="divPasswordStuff">
			        <br>
							<label for="modPassword" id="labelModPassword">{% translate "Moderator password: " %}</label>
							<br>
							<input type="text" id="modPassword" name="modPassword" style="max-width: 90%; min-width: 250px;" maxlength=100><br>
							<button type="button" id="modGeneratePassword" name="modGeneratePassword" onclick="getGeneratedPassword('modPassword')">{% translate "generate" %}</button>
							</div>
						</div>
						<br>

						<input type="checkbox" name="passwordProtection" id="passwordProtection" onchange="showPasswordField(this)">
						<label for="passwordProtection" >{%translate "Protect room with password" %}</label>
            <br>
						<div class="divPasswordStuff">
						<label for="password" class="inputPassword" id="labelPassword">{% translate "Password: " %}</label>
						<br>
						<input type="text" id="password" name="password" class="inputPassword" style="max-width: 90%; min-width: 250px;" maxlength=100>
						<br>
						<button type="button" id="generatePassword" name="generatePassword" class="buttonGeneratePassword" onclick="getGeneratedPassword('password')">{% translate "generate" %}</button>
						</div>
						<br><br>
  					<input class="buttonSubmit" type="button" onclick="checkForm()" value={% translate "create!" %}>
					</fieldset>
				</form>

			</div>
		</div>
  </body>
	<script>
		showPasswordField(document.getElementById("passwordProtection"));
		toggleCustomGuestRights(document.getElementById("divCustomGuestRights"))
		function showPasswordField(e) {
		  if (e.checked) {
				document.getElementById("password").style.display = "inline";
				document.getElementById("labelPassword").style.display = "inline";
				document.getElementById("generatePassword").style.display = "inline";
			}
			else {
				document.getElementById("password").style.display = "none";
				document.getElementById("labelPassword").style.display = "none";
				document.getElementById("generatePassword").style.display = "none";
			}
	  }
		function toggleCustomGuestRights(e) {
		  if (e.checked) {
				document.getElementById("divCustomGuestRights").style.display = "inline";
			}
			else {
				document.getElementById("divCustomGuestRights").style.display = "none";
			}
	  }
		function getGeneratedPassword(id) {
			let pw;
			const http = new XMLHttpRequest();
	    http.open("GET","generatePassword/");
			http.send();
			http.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					pw = http.responseText;
					console.log(pw);
			    document.getElementById(id).value = pw;
				}
			}
	  }
		function checkForm() {
			if (document.getElementById("roomName").value == "") {alert('{% translate "Room name should not be empty" %}'); return 0;}
			else if (document.getElementById("customGuestRights").checked && document.getElementById("passwordProtection").checked && document.getElementById("password").value == "" && document.getElementById("password").value == "") {
		    if (confirm ('{% translate "You have selected password protection and customized guest rights, but left both an password. Are you sure, you want to leave the passwords empty?" %}')) {document.getElementById("roomCreationForm").submit();}
			}
		  else if (document.getElementById("passwordProtection").checked && document.getElementById("password").value == "") {
		    if (confirm ('{% translate "You have selected password protection but left an empty password. Are you sure, you want to leave the password empty?" %}')) {document.getElementById("roomCreationForm").submit();}
			}
		  else if (document.getElementById("customGuestRights").checked && document.getElementById("modPassword").value == "") {
		    if (confirm ('{% translate "You have selected customized guest rights, but left an empty moderator password. Are you sure, you want to leave the password empty?" %}')) {document.getElementById("roomCreationForm").submit();}
			}
			
			else {document.getElementById("roomCreationForm").submit();}
		}
	</script>

	{% include "general/footer.html" %}
	<script>
		let hiddendiv = document.getElementById("hiddendiv");
		let footer = document.getElementById("footer");
		footer.style.position = "fixed";
		footer.style.bottom = "0px";
		footer.style.display = "block";
		footer.style.marginBottom="10px"
		hiddendiv.style.display = "block";
	</script>
</html>


{% endlanguage %}
